{% extends 'layout/base.html' %}

{% block title %} Chat room {% endblock %}
{% block css %}
<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/taiChinh.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/chitieuhangthang.css') }}">
{%endblock%}


{% block content %}

<!-- CONTENT -->
<section id="content">
    <!-- NAVBAR -->

    <!-- NAVBAR -->

    <!-- MAIN -->
    <main>


        <div class="table-data">
            <div class="order" style="position: relative">
                <div class="head">
                    <h3>Chi tiêu hàng tháng</h3>
                    <i class='bx bx-search'></i>
                    <i class='bx bx-filter'></i>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th>Chi tiêu hàng tháng</th>
                        <th>
                            Tiến độ
                        </th>
                        <th>Số tiền</th>
                    </tr>
                    </thead>
                    <form method="post" action="" style="width:30%" class="">
                        <tbody>
                        <tr>
                            <td>
                                <img src="img/people.png">
                                <p>Ăn uống</p>
                            </td>
                            <td>

                                <progress value="32" max="100"> 32%</progress>
                            </td>
                            <td>
                                <input min="0" value="500.000" name="sotien" type="number"
                                       class="form-control status completed">
                                <!--                                     <span class="">500.000</span>-->
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="img/people.png">
                                <p>Ăn uống</p>
                            </td>
                            <td>

                                <progress value="32" max="100"> 32%</progress>
                            </td>
                            <td>
                                <input min="0" value="500.000" name="sotien" type="number"
                                       class="form-control status completed">
                                <!--                                     <span class="">500.000</span>-->
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="img/people.png">
                                <p>Ăn uống</p>
                            </td>
                            <td>

                                <progress value="32" max="100"> 32%</progress>
                            </td>
                            <td>
                                <input min="0" value="500.000" name="sotien" type="number"
                                       class="form-control status completed">
                                <!--                                     <span class="">500.000</span>-->
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="img/people.png">
                                <p>Ăn uống</p>
                            </td>
                            <td>

                                <progress value="32" max="100"> 32%</progress>
                            </td>
                            <td>
                                <input min="0" value="500.000" name="sotien" type="number"
                                       class="form-control status completed">
                                <!--                                     <span class="">500.000</span>-->
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <br>
                        <div class="control">
                            <div class="edit_control">

                                Edit
                                <i class='bx bxs-save'></i>

                            </div>
                            <div class="submit_control">
                                <button class="btn btn-success" type="submit">
                                    Save
                                    <i class='bx bxs-save'></i>
                                </button>
                            </div>
                        </div>

                        </tbody>
                    </form>
                </table>
            </div>
            <div class="todo">
                <div class="head">
                    <h3>Kế hoạch cắt giảm chi tiêu</h3>
                    <i class='bx bx-plus'></i>
                    <i class='bx bx-filter'></i>
                </div>
                <ul class="todo-list">
                    <li class="completed">
                        <p>Todo List</p>
                        <i class='bx bx-dots-vertical-rounded'></i>
                    </li>
                    <li class="completed">
                        <p>Todo List</p>
                        <i class='bx bx-dots-vertical-rounded'></i>
                    </li>
                    <li class="not-completed">
                        <p>Todo List</p>
                        <i class='bx bx-dots-vertical-rounded'></i>
                    </li>
                    <li class="completed">
                        <p>Todo List</p>
                        <i class='bx bx-dots-vertical-rounded'></i>
                    </li>
                    <li class="not-completed">
                        <p>Todo List</p>
                        <i class='bx bx-dots-vertical-rounded'></i>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <!-- MAIN -->
</section>
<!-- CONTENT -->
<script>

    const control = document.querySelector(".edit_control");
const submitControl = document.querySelector(".submit_control");

control.addEventListener("click", function() {
  submitControl.style.display = "inline-block";
});

</script>
<script src="{{ url_for('static', filename='js/taiChinh.js') }}"></script>

{%endblock%}
