{% extends 'layout/base.html' %}

{% block title %} Chat room {% endblock %}
{% block css %}
<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/taiChinh.css') }}">
{%endblock%}


{% block content %}

<!-- CONTENT -->
<section id="content">
    <!-- NAVBAR -->

    <!-- NAVBAR -->

    <!-- MAIN -->
    <main>
        <div class="head-title">
            <div class="left">
                <h1>Dashboard</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Dashboard</a>
                    </li>
                    <li><i class='bx bx-chevron-right'></i></li>
                    <li>
                        <a class="active" href="#">Home</a>
                    </li>
                </ul>
            </div>
            <div class="sub_head">
                <a href="{{url_for('giaodich')}}" class="btn-download btn-dow1" style="background:#e1c980; color:black">
                    <i class='bx bxs-report'></i>
                    <span class="text">Thêm giao dịch</span>
                </a>
                <a href="#" class="btn-download">
                    <i class='bx bxs-report'></i>
                    <span class="text">Xem báo cáo</span>
                </a>
            </div>
        </div>

        <ul class="box-info">
            <li>
                <i class='bx bxs-calendar-check'></i>
                <span class="text">
						<h3>1020</h3>
						<p>New Order</p>
					</span>
            </li>
            <li>
                <i class='bx bxs-group'></i>
                <span class="text">
						<h3>Ví của tôi</h3>
						<p>Tiền mặt: {{sotien}} đ </p>
					</span>
            </li>
            <li>
                <i class='bx bxs-dollar-circle'></i>
                <span class="text">
						<h3>{{sotien}} đ </h3>
						<p>Tổng số dư</p>
					</span>
            </li>
        </ul>


        <div class="table-data">
            <div class="order">
                <div class="head">
                    <h3>Báo cáo chi tiêu</h3>
                    <i class='bx bx-search'></i>
                    <i class='bx bx-filter'></i>
                </div>
                <div class="row ">
                    <form method="post" action="/taichinhtuan" style="width:50%">
                        <div class="col-auto sub_col">
                            <button type="submit" class="btn btn-primary sub_btn">Tuần</button>
                        </div>
                    </form>
                    <form method="post" action="/taichinhthang" style="width:50%">
                        <div class="col-auto sub_col">
                            <button type="submit" class="btn btn-success sub_btn">Tháng</button>
                        </div>
                    </form>
                </div>


                <div>
                    <canvas id="myChart"></canvas>
                </div>


            </div>
            <div class="todo">
                <div class="head">
                    <h3>Chi tiêu nhiều nhất</h3>

                    <i class='bx bx-plus'></i>
                    <i class='bx bx-filter'></i>
                </div>
                <ul class="todo-list">
                    {%for i in range(n)%}
                    <li class="completed">
                        <p>{{tenloai[i]}}</p>
                        <div class="sub_completed">
                            <p class="sub1">Số tiền</p>
                            <p class="sub2">{{tongtien[i]}}</p>
                        </div>
                    </li>
                    {%endfor%}
                </ul>
            </div>
        </div>
        <div class="table-data">
            <div class="order">
                <div class="head">
                    <h3>Chi tiêu gần đây</h3>
                    <i class='bx bx-search'></i>
                    <i class='bx bx-filter'></i>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th>Loại chi tiêu</th>
                        <th>Ngày chi tiêu</th>
                        <th>Số tiền</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%for i in range(n2)%}
                    <tr>
                        <td>
                            <img src="img/people.png">
                            <p>{{ten2[i]}}</p>
                        </td>
                        <td>{{time2[i]}}</td>
                        <td><span class="status completed">{{tien2[i]}}</span></td>
                    </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>
            <div class="todo">
                <div class="head">
                    <h3>Kế hoạch cắt giảm chi tiêu</h3>
                    <i class='bx bx-plus'></i>
                    <i class='bx bx-filter'></i>
                </div>
                <ul class="todo-list">
                    <li class="completed">
                        <p>Todo List</p>
                        <i class='bx bx-dots-vertical-rounded'></i>
                    </li>
                    <li class="completed">
                        <p>Todo List</p>
                        <i class='bx bx-dots-vertical-rounded'></i>
                    </li>
                    <li class="not-completed">
                        <p>Todo List</p>
                        <i class='bx bx-dots-vertical-rounded'></i>
                    </li>
                    <li class="completed">
                        <p>Todo List</p>
                        <i class='bx bx-dots-vertical-rounded'></i>
                    </li>
                    <li class="not-completed">
                        <p>Todo List</p>
                        <i class='bx bx-dots-vertical-rounded'></i>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <!-- MAIN -->
</section>
<!-- CONTENT -->

<script src="{{ url_for('static', filename='js/taiChinh.js') }}"></script>
<h1>{{sotien}} đ </h1>
<h5>Tổng số dư</h5>

<div>
    <span>Ví của tôi</span>
    <a href="#">Xem tất cả</a>

    <div>
        <img src="https://png.pngtree.com/element_our/20190528/ourmid/pngtree-orange-wallet-icon-image_1168655.jpg"
             style="border-radius: 50%; width: 50px">
        <span>Tiền mặt</span>
        <span>{{sotien}} đ</span>
    </div>

    <div>
        <div>
            <span> Báo cáo chi tiêu </span>
            <a href="#">Xem báo cáo</a>
        </div>

        <div>
            <form>
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Tuần</button>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-secondary">Tháng</button>
                    </div>
                </div>
            </form>

            <div>
                Số tiền đã chi - dòng này để tiền vào
                <div>Tổng chi tuần/tháng này</div>
            </div>

            <!--            <div id="Mychart">Để biểu đồ vô đây</div>-->

            <div>Chi tiêu nhiều nhất (List các loại chi tiêu)</div>

            <div>
                <img src="/static/image/codeheroes.png" style="height: 300px">
            </div>

            <div>
                Giao dịch gần đây - top 3 giao dịch
            </div>
        </div>

    </div>

    <a href="{{url_for('giaodich')}}">Thêm giao dịch</a>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
     const getChart = document.getElementById('myChart');
     let data_ten = [], data_tien = []


    {% for i in tien %}
        data_tien.push('{{i}}')
    {%endfor%}

    {% for i in ten %}
        data_ten.push('{{i}}')
    {%endfor%}

    const ans = data_ten[0].split(" ");
    let word = 'Số tiền đã dùng trong ' + ans[0].toLowerCase() + ' này';


     new Chart(getChart, {
    type: 'bar',
    data: {
      labels: data_ten,
      datasets: [{
        label: word,
        data: data_tien,
        backgroundColor: [
      'rgba(255, 99, 132, 0.2)',
      'rgba(255, 159, 64, 0.2)',
    ],
    borderColor: [
      'rgb(255, 99, 132)',
      'rgb(255, 159, 64)',
    ],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });


</script>
{%endblock%}
